{% extends '__base.html' -%}
{% import 'forum/macros.html' as m -%}
{% import 'forum/post_editor.html' as e -%}

{% block title -%}{% endblock -%}

{% block body -%}
<h1>{{ board.name }}</h1>
{{ m.breadcrumbs(board) }}
{% include '_block_flash.html' -%}
<form method="POST" action="">
		{{ form.csrf_token }}
	<div class="form-group">
		<label>Thread title:</label>
		{{ form.name(class_="form-control") }}
		{% if form.name.errors -%}
			<ul class="errors">
				{% for error in form.name.errors -%}
					<li>{{ error }}</li>
				{% endfor -%}
			</ul>
		{% endif -%}

	</div>
	<div class='fullwidth'>
		{{ e.post_editor(form) }}
	</div>
	<div class="form-group">
		{{ form.submit(class_="btn btn-success") }}
	</div>
</form>
{% endblock -%}

{% block footer -%}
	{{ e.post_edit_footer() }}
{% endblock -%}