{% extends 'forum/layout.html' %}
{% import 'forum/macros.html' as m %}

{% block title %}Edit post in "{{ thread.name }}"{% endblock %}

{% block body %}
<h1>{{ thread.name }}</h1>
{{ m.breadcrumbs(board) }}

<form method="POST" action="">
	{{ form.csrf_token }}
	<div class="form-group">
		<label>Content:</label>
		{{ form.content(class_="form-control", rows='12') }}
		Posts will be formatted with <a href="https://help.github.com/articles/markdown-basics/">markdown</a>.
	</div>
	<div class="form-group">
		{{ form.submit(class_="btn btn-success") }}
	</div>
</form>
{% endblock %}
