__pycache__
/bak
/*.lwp
/ctntCache
/settings.py
/*.pyc
*.pyc
/flask
/tmp
/covers
/FeedFeeder/cert
/logs
/app/static/.webassets-cache
/application/static/.webassets-cache
/test/logs
/*.xz
/test/cookies.lwp
/test/cookietemp.lwp
/do-not-merge.json
/matchset.json
/app/static/gen
/error - *.txt
/mq error *.txt
/dotted.pyson
/fix_map.json
/seriesname-matchset.json
/translatorname-matchset.json
/volatile_config.json
/test/login_secret.json
