<!-- extend base layout -->
{% extends "__base.html" %}


{% macro render_pagination(pagination) %}
	<div class=pagination>
	{%- for page in pagination.iter_pages() %}
		{% if page %}
			{% if page != pagination.page %}
				<a href="{{ page }}">{{ page }}</a>
			{% else %}
				<strong>{{ page }}</strong>
			{% endif %}
		{% else %}
			<span class=ellipsis>…</span>
		{% endif %}
	{%- endfor %}
	</div>
{% endmacro %}





{% block content %}
	{% include '_block_flash.html' %}
	{% if g.user.is_admin() %}
		<div class="well well-large" style="min-height: 140px;">
			<div>
				<h2>Viewcount for the {{interval}}:</h2>
			</div>
			<p>Total requests: {{total_requests}}</p>
			<p>Unique visitors: {{ clients | length }}</p>
		</div>

		<div class="well well-large" style="min-height: 140px;">
			<h3>Visitors:</h3>
			<table class='table-striped table table-bordered table-condensed fullwidth'>

				<col style="width: 110px">
				<col>
				{% for client in clients %}
					<tr>
						<td>{{client.originating_ip}}</td>
						<td>{{client.user_agent}}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		<div class="well well-large" style="min-height: 140px;">
			<h3>Referrers:</h3>
			<table class='table-striped table table-bordered table-condensed fullwidth'>

				<col style="width: 110px">
				<col>
				{% for ref in referred_by %}
					<tr>
						<td>{{ref.originating_ip}}</td>
						<td>{{ref.referer}}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	{% endif %}

{% endblock %}


{% block footer %}
	{% if g.user.is_mod() %}
		{% include '_block_admin_scripts.html' %}
	{% endif %}
{% endblock %}

