

{% macro tableHeader() -%}
	<table class='table-striped table table-bordered table-condensed fullwidth'>

		<col style="width: 60px">
		<col>
		<col style="width: 30px">
		<col style="width: 30px">
		<col style="width: 32%">
		<col style="width: 20%">

		{% if g.user.is_mod() %}
			<col style="width: 10px">
		{% endif %}
		<col >
		<tr>
			<th>
				View
			</th>
			<th>
				Series
			</th>
			<th>
				Vol
			</th>
			<th>
				Chap
			</th>
			<th>
				Extra
			</th>
			<th>
				Group
			</th>

			{% if g.user.is_mod() %}
				<th>
					C
				</th>
			{% endif %}
		</tr>
{%- endmacro %}

{% macro tableFooter() -%}
	</table>
{%- endmacro %}

{% if release_items: %}
		{% if chunk %}
			<h4>
				{{ format_date(release_items[0].published) }}
			</h4>
			{% set lastitemday = release_items[0].published.day %}
		{% endif %}
		{{ tableHeader() }}
		{% for entry in release_items: %}

			{% if chunk and entry.published.day != lastitemday %}

				{{ tableFooter() }}

				<h4>
					{{ format_date(entry.published) }}
				</h4>
				{{ tableHeader() }}
				{% set lastitemday = entry.published.day %}
			{% endif %}

			{% if g.user.is_mod() %}
				<tr id='release-entry' data-id="{{entry.id}}" data-counted="{{entry.include}}" data-added-by="{{getUserId(entry.changeuser)}}" data-added-on='{{entry.published}}'>
			{% else %}
				<tr id='release-entry'>
			{% endif %}

				<td>
					<a href='{{entry.srcurl}}'>View</a>
				</td>
				<td>
					<a href='/series-id/{{entry.series}}/'>{{entry.series_row.title}}</a>

				</td>
				{% if entry.volume != None %}
					<td class='numeric'>
						{{entry.volume | int}}
					</td>
				{% endif %}
				{% if entry.chapter != None %}
					<td class='numeric' {{ "colspan=2" if entry.volume == None  }}>
						{% if entry.chapter != None %}
							{{('%0.4f' % entry.chapter).rstrip('0').rstrip('.')}}
						{% endif %}
					</td>
				{% endif %}

				{% if entry.chapter == None and entry.volume == None %}
					<td class='postfix' {{ "colspan=3" if entry.chapter == None  }}>
				{% elif entry.chapter == None %}
					<td class='postfix' {{ "colspan=2" if entry.chapter == None  }}>
				{% else %}
					<td class='postfix'>
				{% endif %}
					{{entry.postfix | safe}}
				</td>
				<td>
					<a href='/group-id/{{ entry.translators.id }}/'>{{entry.translators.name}}</a>
				</td>
				{% if g.user.is_mod() %}
					<th>
						{% if entry.include %}
							◯
						{% else %}
							✖
						{% endif %}
					</th>
				{% endif %}
			</tr>
		{% endfor %}
		{{ tableFooter() }}
{% else: %}
	<strong>No releases found!</strong>
{% endif %}


