
{% macro tableHeader() -%}
	<table class='table-striped table table-bordered table-condensed fullwidth'>
		<colgroup>
			<col>
			<col style="width: 40%;">
			<col style="width: 24%;">
		</colgroup>
		<tr>
			<th>
				Content
			</th>
			<th>
				Tags
			</th>
			<th>
				Group
			</th>
		</tr>
{%- endmacro -%}

{% macro tableFooter() -%}
	</table>
{%- endmacro -%}

{% if raw_feeds: -%}

	{% if chunk -%}
		<h4>
			{{ format_date(raw_feeds[0].published) }}
		</h4>
		{% set lastitemday = raw_feeds[0].published.day -%}
	{% endif -%}
	{% set lastitemday = raw_feeds[0].published.day -%}

	{{ tableHeader() }}
	{% for entry in raw_feeds: -%}

		{% if chunk and entry.published.day != lastitemday -%}

			{{ tableFooter() }}

			<h4>
				{{ format_date(entry.published) }}
			</h4>
			{{ tableHeader() }}
			{% set lastitemday = entry.published.day -%}
		{% endif -%}
		<tr>
			<td>
				{% if g.user.id == 2 -%}
					<a href='http://10.1.1.60:5001/view?url={{entry.linkurl | urlencode}}'>R-View - {{ entry.title }}</a>
				{% else -%}
					<a href='{{entry.linkurl}}'>{{entry.title}}</a>
				{% endif -%}
			</td>
			<td>
				{%- for tag in entry.tags -%}
					<a href='/feeds/tag/{{ tag.tag | urlencode }}/'>{{ tag.tag }}</a>{% if not loop.last -%}, {% endif -%}
				{%- endfor -%}
			</td>
			<td>
				<a href='/feeds/source/{{ entry.srcname | urlencode }}/'>{{entry.srcname}}</a>
			</td>
		</tr>
	{% endfor -%}
	{{ tableFooter() }}
{% else: -%}
	<strong>No feeds! This probably means something is broken!</strong>
{% endif -%}
