
{% if release_items: %}
	<table class='table-striped table table-bordered table-condensed fullwidth'>

		<col style="width: 60px">
		<col style="width: 50%">
		<col style="width: 50px">
		<col style="width: 50px">
		<col style="width: 20%">
		<col style="width: 20%">
		<tr>
			<th>
				View
			</th>
			<th>
				Series
			</th>
			<th>
				Vol
			</th>
			<th>
				Chap
			</th>
			<th>
				Extra
			</th>
			<th>
				Group
			</th>
		</tr>
		{% for entry in release_items: %}
			<tr>
				<td>
					<a href='{{entry.srcurl}}'>View</a>
				</td>
				<td>
					<a href='/series-id/{{entry.series}}/'>{{entry.series_row.title}}</a>
				</td>
				{% if entry.volume != None %}
					<td class='numeric'>
						{{entry.volume | int}}
					</td>
				{% endif %}
				{% if entry.chapter != None %}
					<td class='numeric' {{ "colspan=2" if entry.volume == None  }}>
						{% if entry.chapter != None %}
							{{('%0.4f' % entry.chapter).rstrip('0').rstrip('.')}}
						{% endif %}
					</td>
				{% endif %}
				<td {{ "colspan=2" if entry.chapter == None  }}>
					{{entry.postfix}}
				</td>
				<td>
					<a href='/group-id/{{ entry.translators.id }}/'>{{entry.translators.group_name}}</a>
				</td>
			</tr>
		{% endfor %}
	</table>
{% else: %}
	<strong>No releases found!</strong>
{% endif %}


