<!-- extend base layout -->


{% if g.user.is_admin() -%}
	<script>
		// Hi there!
		// Yes, you can see the function. The API
		// endpoint it calls requires proper auth.
		// It's cute you're trying to mess things up, though....
		function delete_spammer(spammer_uid)
		{
			console.log("Ready to send!", spammer_uid);
			bootbox.confirm("Really delete user-id " + spammer_uid + "?", function(result) {
				window.location = "/delete_spammer/" + spammer_uid
			});
		}
		function delete_series_spammer(spam_series_sid)
		{
			console.log("Ready to send!", spam_series_sid);
			bootbox.confirm("Really spam series with id " + spam_series_sid + "?", function(result) {
				window.location = "/delete_spam_series/" + spam_series_sid
			});
		}
	</script>
{% endif -%}