<!-- extend base layout -->
{% extends "__base.html" -%}

{% block footer -%}
<link rel="stylesheet" type="text/css" href="/static/css/jquery.datetimepicker.css"/>
<script src="/static/js/jquery.datetimepicker.js"></script>
<script>
	$('#datetimepicker').datetimepicker({value:'{{date_now()}}',step:10});
</script>
{% endblock -%}

{% set title = "Add a Release" -%}

{% block content -%}
	{% include '_block_flash.html' -%}
	<div class="well well-large" style="min-height: 140px;">
		<h2>Add a new release for {{series.title}}:</h2>

		<form method="POST" action="{{request.path}}" class='form-horizontal'>
			{{ form.hidden_tag() }}
			<div class="well well-xs form-inline" >

				<table class='table-striped table table-bordered table-condensed fullwidth'>
					<colgroup>
						<col style='width: 180px'>
						<col>
					</colgroup>
					<tr>
						<td>
							{{ form.volume.label }}
						</td>
						<td>
							{{ form.volume(size=6, class='form-control') }}
							<span class='light-grey'>Leave empty if there is no volume number</span>

							{% if form.volume.errors -%}
								<ul class="errors">
									{% for error in form.volume.errors -%}
										<li>{{ error }}</li>
									{% endfor -%}
								</ul>
							{% endif -%}
						</td>
					</tr>
					<tr>
						<td>
							{{ form.chapter.label }}
						</td>
						<td>
							{{ form.chapter(size=6, class='form-control') }}
							{% if form.chapter.errors -%}
								<ul class="errors">
									{% for error in form.chapter.errors -%}
										<li>{{ error }}</li>
									{% endfor -%}
								</ul>
							{% endif -%}
						</td>
					</tr>

					<tr>
						<td>
							{{ form.subChap.label }}
						</td>

						<td>
							{{ form.subChap(size=6, class='form-control') }}
							<span class='light-grey'>Use for partial chapters, leave empty otherwise.</span>

							{% if form.subChap.errors -%}
								<ul class="errors">
									{% for error in form.subChap.errors -%}
										<li>{{ error }}</li>
									{% endfor -%}
								</ul>
							{% endif -%}
						</td>
					</tr>

					<tr>
						<td>

							{{ form.postfix.label }}
						</td>
						<td>
							{{ form.postfix(size=60, class='form-control') }}
							<span class='light-grey'>If the chapter has a name, it goes here..</span>

							{% if form.postfix.errors -%}
								<ul class="errors">
									{% for error in form.postfix.errors -%}
										<li>{{ error }}</li>
									{% endfor -%}
								</ul>
							{% endif -%}
						</td>
					</tr>

					<tr>
						<td>

							{{ form.release_pg.label }}
						</td>
						<td>
							<div class='input-group'>
								{{ form.release_pg(size=60, class='form-control') }}
								<span class='light-grey'>Web Address where the release is available</span>
							</div>
							{% if form.release_pg.errors -%}
								<ul class="errors">
									{% for error in form.release_pg.errors -%}
										<li>{{ error }}</li>
									{% endfor -%}
								</ul>
							{% endif -%}
						</td>
					</tr>
					{% if form.is_oel.data != 'oel' -%}
						<tr>
							<td>

								{{ form.group.label }}
							</td>
							<td>

								<div class='input-group'>
									{{ form.group(class='form-control') }}
								<span class='light-grey'>Translator group. If the group is not present, you must <a href='/add/group/'>add it first.</a></span>
								</div>

								{% if form.group.errors -%}
									<ul class="errors">
										{% for error in form.group.errors -%}
											<li>{{ error }}</li>
										{% endfor -%}
									</ul>
								{% endif -%}
							</td>
						</tr>
					{% else -%}
						<!-- This is a horrible mess to work around broken WTForms validation -->
						<div style="display:none;">
							<input id="group" name="group" type="hidden" value="1">
						</div>
					{% endif -%}

					<tr>
						<td>

							{{ form.releasetime.label }}
						</td>
						<td>
							<div class='input-group date'>
								{{ form.releasetime(class='form-control',  id='datetimepicker', type='text', value="") }}
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>

							{% if form.releasetime.errors -%}
								<ul class="errors">
									{% for error in form.releasetime.errors -%}
										<li>{{ error }}</li>
									{% endfor -%}
								</ul>
							{% endif -%}
						</td>
					</tr>

				</table>

			<div>{{message}}</div>
			</div>
			<input type="submit" value="Add">

		</form>
	</div>

{% endblock -%}
