<!-- extend base layout -->
{% extends "__base.html" -%}

{% block content -%}
	{% include '_block_flash.html' -%}
	<div class="well well-large" style="min-height: 140px;">
		<h2>Add a new {{add_name}}:</h2>

		<form method="POST" action="{{request.path}}">
			<div class="well well-xs" >
				{{ form.hidden_tag() }}
				{{ form.name.label }}
				{{ form.name(size=60) }}

				{% if form.name.errors -%}
					<ul class="errors">
						{% for error in form.name.errors -%}
							<li>{{ error }}</li>
						{% endfor -%}
					</ul>
				{% endif -%}
			<div>{{message}}</div>
			</div>
			<input type="submit" value="Add">

		</form>
	</div>

{% endblock -%}
