<!-- extend base layout -->
{% extends "__base.html" %}

{% block content %}
	{% include '_block_flash.html' %}
	<div class="well">
		<h3>API Documentation</h3>
		<div>
			<p>WLNUpdates has a fairly simple API. It talks JSON, both for commands and the response.
				There is only one endpoint, different operations are denoted by the contents of the
				POSTed JSON. The endpoint path is <code>/api</code>.
			</p>
			<p>
				All commands must post data of mimetype `application/json`. A exmple jquery call for this API is
				<a href='https://github.com/fake-name/wlnupdates/blob/master/app/static/js/editable.js#L496-L502'>here</a>.
				Note that the API currently has CSRF protection via <a href='http://flask-wtf.readthedocs.org/en/latest/csrf.html'>Flask-WTF</a>.
				This is handled via a <code>$.ajaxSetup</code> <code>beforeSend</code> callback <a href='https://github.com/fake-name/wlnupdates/blob/master/app/static/js/editable.js#L530-L536'>
				here</a>. This requirement will be relaxed in the future, as soon as I determine a good way to still maintain a decent
				level of protection in it's absence. Currently, the CSRF token is passed to the endpoints via a
				<a href='https://github.com/fake-name/wlnupdates/blob/master/app/static/js/editable.js#L528'>meta tag</a> on each  HTML page.
			</p>


		</div>
		<h3>API Calls</h3>
		<p>
			All API calls are, at minimum, composed of a base JSON object containing the key <code>mode</code>, with the value of <code>mode</code>
			determining which function the request maps to.
		</p>
		<p>
			API call responses are a JSON object with 3 keys:
			<code>{ 'error'   : error, 'message' : message, 'reload'  : shouldReload} </code>
			<ul>
				<li><code>error</code> - Status boolean, indicating whether the API encountered an error. True indicates that there was an error, false indicates the call succeeded. Malformed API
				requests result in an error response.</li>
				<li><code>message</code> - String error message containing a human-readable description of the issue the API call encountered, if any. Not allowable
				API errors map to a proper description, most parameter validation errors result in a generic error message.</li>
				<li><code>reload</code> - Boolean flag indicating whether the API call results in changes that require a page-reload to properly display. Probably ignoreable for
				API-only interfacing.</li>
			</ul>

		</p>
		<p>Floats/strings passed to integer parameters will be cast to integers, errors on cast will result in an error, and the API call not being applied.</p>

		<h4>Non-Authenticated</h4>
		<ul>
			<li>
				<strong>Set user rating for series: <code>set-rating</code></strong>

				<p>Required keys:</p>
				<ul>
					<li><code>mode</code> - Literal string "<code>set-rating</code>"</li>
					<li><code>item-id</code> - Series-id for the series to rate. Integer, strings or floats will be automatically cast.</li>
					<li><code>rating</code> - Rating of item. Integer, allowable range 0-10. Strings or floats will be cast to integers.</li>
				</ul>
				<p>Ratings are unique to each user. If a user is not logged in, the rating is tied to the originating IP address.</p>
			</li>
		</ul>

		<h4>Authenticated Only</h4>
		<ul>
			<li>
				<strong>Manage reading progress: <code>read-update</code></strong>

				<p>Required keys:</p>
				<ul>
					<li><code>mode</code> - Literal string "<code>read-update</code>"</li>
					<li><code>item-id</code> - Series-id for the series to set the reading state for. Integer.</li>
					<li><code>vol</code>  - Integer, containing volume progress.</li>
					<li><code>chp</code>  - Integer, containing chapter progress.</li>
					<li><code>frag</code> - Integer, containing fragment/sub-chapter progress.</li>
				</ul>
			</li>
		</ul>
		<ul>
			<li>
				<strong>Manage watch state for series: <code>set-watch</code></strong>

				<p>Required keys:</p>
				<ul>
					<li><code>mode</code> - Literal string "<code>set-watch</code>"</li>
					<li><code>item-id</code> - Series-id for the series to modify the watch state for. Integer.</li>
				</ul>
			</li>
		</ul>
		<ul>
			<li>
				<strong>Update series information: <code>manga-update</code></strong>

				<p>Required keys:</p>
				<ul>
					<li><code>mode</code> - Literal string "<code>manga-update</code>"</li>
					<li><code>item-id</code> - Series-id for the series to update information for. Integer.</li>
					<li><code>list</code> - String name of list for item. If the list doesn't exist, it is created. To remove
						an item from a list, set the list to the special value: <code>-0-0-0-0-0-0-0-no-list-0-0-0-0-0-0-0-0-</code>.</li>
				</ul>
				<p>Lists only exist as long as there are items on them. If all items are removed from a list, it is automatically deleted.
			</li>
		</ul>

		<h4>Not documented yet</h4>
		<strike>
			<ul>
				<li>
					<strong>Update group/translator information: <code>group-update</code></strong>

					<p>Required keys:</p>
					<ul>
						<li><code>mode</code> - Literal string "<code>group-update</code>"</li>
						<li><code>item-id</code> - Series-id for the group to update the information for. Integer.</li>
					</ul>
				</li>
			</ul>
			<ul>
				<li>
					<strong>Add cover for series: <code>cover-update</code></strong>

					<p>Required keys:</p>
					<ul>
						<li><code>mode</code> - Literal string "<code>cover-update</code>"</li>
						<li><code>item-id</code> - Series-id for the series to add a cover too. Integer.</li>
					</ul>
				</li>
			</ul>
		</strike>
	</div>









{% endblock %}
