<!-- extend base layout -->
{% extends "__base.html" -%}

{% set title = "Please confirm your registration!" -%}

{% block content -%}
	<style>
		div.error
		{
			background-color: #Fcc !important;
		}
	</style>
	{% include '_block_flash.html' -%}
	<div class="well">
		<h3>{{ _('Please confirm your registration.') }}</h3>
		<p>
			You have been sent an email at the address you registered with. Please click the
			confirmation link in that email to activate your account.
		</p>
		<p>
			The confirmation email will be sent from: <pre>registration@wlnupdates.com</pre>.
		</p>
		<p>
			If you don't recieve your login confirmation, please check your spam filters. Gmail has
			occasionally filtered account confirmation e-mails as spam. I have been having issues with gmail
			reporting the site as "untrusted", due to reasons I haven't been able to figure out.

		</p>
		<p>
			If you do wind up finding your confirmation mail being filtered as spam, please mark it as
			"not spam". Hopefully eventually google will figure out that a silly web/light-novel tracking
			site isn't something where trust is really even an issue. It's not like wlnupdates has any personal
			information.
		</p>

		<p>
			If you never receive a confirmation, please report the issue <a href='https://github.com/fake-name/wlnupdates/issues'>on github</a>
			so it can be fixed.

	</div>
{% endblock -%}
