<!-- extend base layout -->
{% extends "__base.html" %}

{% set title = "Please confirm your registration!" %}

{% block content %}
	<style>
		div.error
		{
			background-color: #Fcc !important;
		}
	</style>
	{% include '_block_flash.html' %}
	<div class="well">
		<h3>{{ _('Please confirm your registration.') }}</h3>
		<p>
			You have been sent an email at the address you registered with. Please click the
			confirmation link in that email to activate your account.
		</p>
		<p>
			Note that I'm currently using gmail for sending confirmation mails. The confirmation
			email will be sent from: <pre>wln0updates@firemail.cc</pre> Eventually, I'd like
			to get a proper mail server setup, but using gmail was more efficent for the moment.
		</p>
		<p>
			If you don't recieve your login confirmation, please check your spam filters. Gmail has
			occasionally filtered account confirmation e-mails as spam.
		</p>
		<p>
			If you never receive a confirmation, please report the issue <a href='https://github.com/fake-name/wlnupdates/issues'>on github</a>
			so it can be fixed.

	</div>
{% endblock %}
