<!-- extend base layout -->
{% macro cover_block(cover, series) -%}
	<div class="well well-tny info-item">
		<div class="row coverdiv"  id="{{cover.id}}-container">
			<div class="col-md-6 rowTitle">
				<img src='/cover-img/{{ cover.id }}' style='padding: 5px; max-width: 420px'>
			</div>
			<div class="col-md-6 attrs">
				<div style='padding: 5px'>
					<strong>Title:</strong>
					{% if cover.description == None -%}
						{% set desc = '' -%}
					{% else -%}
						{% set desc = cover.description -%}
					{% endif -%}
					{% if g.user.is_authenticated() -%}
						<textarea id='new-cover-title' name='c-input-{{cover.id}}' style='width: 100%'>{{ desc }}</textarea>
						<textarea id='old-cover-title' name='c-orig-input-{{cover.id}}' style='visibility: hidden'>{{ desc }}</textarea>
					{% else -%}
						<span>{{ cover.description }}</span>
					{% endif -%}
				</div>
			</div>

		</div>
	</div>
{%- endmacro -%}


{% macro image_upload_block(series) -%}
	<div class="well well-tny info-item">
		<div class="row coverdiv"  id="{{series.id}}-new-image">
			<div class="col-md-12 attrs">
				<div style='padding: 5px'>
					<strong>Add a new image:</strong>
					<input type="file" name="new-image" id="new-image-id" onchange="fileAdd(this.files);" />
				</div>
			</div>

		</div>
	</div>
{%- endmacro -%}



{% extends "__base.html" -%}

{% block header -%}
	<meta name="manga-id" content="{{ series.id }}">
{% endblock -%}

{% block footer -%}


	<script src="/static/js/editable.js"></script>
	<script src="/static/js/autogrow.js"></script>
	<script src="/static/js/bootstrap-number-input.js"></script>

	<script>

		{% if not g.user.is_authenticated() -%}
			$(".save-changes-button").each(function(){$(this).prop('disabled', true).text("Requires an account.")});
			$("#new-image-id").each(function(){$(this).prop('disabled', true).removeAttr('onchange')});
		{% else -%}

			var csrftoken = $('meta[name=csrf-token]').attr('content')

			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
					console.log("Ajax setup!", csrftoken);
					if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
						xhr.setRequestHeader("X-CSRFToken", csrftoken)
					}
				}
			})

			var fileData = '';
			var fileName = '';
			var fileDataValid = false;
			var reader = new FileReader();

			reader.onloadend = function(evt) {
				// file is loaded
				fileData = evt.target.result;
				fileDataValid = true;
			};

			function fileAdd(files)
			{
				fileName = files[0].name;
				reader.readAsDataURL(files[0]);
			}

			function saveCallback()
			{
				return function(result)
				{
					console.log("Save callback!")
					if (!result.hasOwnProperty("error"))
					{
						console.log("No error result?")
					}
					if (result['error'])
					{
						alert("Error on update!\n\n"+result["message"])
					}
					else
					{
						location.reload();
					}
					console.log(result)

				}
			}

			function save_covers()
			{
				console.log("Saving changes!");

				var covers = $(".coverdiv");
				var changes = [];

				// Check and filter for only covers where the text has been changed.
				covers.each(function(index, data)
				{

					var new_c = $(this).find("#new-cover-title");
					var old_c = $(this).find("#old-cover-title");
					if (new_c.length == 1 & old_c.length == 1)
					{
						var new_t = new_c.val()
						var old_t = old_c.val()
						if (new_t != old_t)
						{
							var change = {
								"type"  : "name",
								"new"   : new_c.val(),
								"old"   : old_c.val(),
								"covid" : new_c.attr('name')
							}
							changes.push(change)
						}

					}

				})

				if (fileDataValid)
				{
					// Send the new cover, if needed.
					var change = {
						"type"  : "new-cover",
						"name"  : fileName,
						"file"  : fileData

					}
					changes.push(change)
				}


				if (changes.length > 0)
				{
					console.log("Changes are valid. Sending new data.");

					$(".save-changes-button").each(function(){$(this).prop('disabled', true).text("Working...")});

					var mangaId  = $('meta[name=manga-id]').attr('content')
					var params = {
						"mode"      : 'cover-update',
						"item-id"   : mangaId,
						"entries"   : changes,
					}


					$.ajax({
						url : "/api",
						success : saveCallback(),
						data: JSON.stringify(params),
						method: "POST",
						dataType: 'json',
						contentType: "application/json;",
					});
				}

			}

		{% endif -%}
		$('textarea').autogrow({onInitialize:true});
	</script>

{% endblock -%}

{% set title = "Edit covers for " + series.title -%}

{% block content -%}
	{% include '_block_flash.html' -%}

	<div class="well well-large">
		<form action="submit">
			<button type="button" onclick="save_covers()" class="pull-right save-changes-button" style='width:160px'>Save changes</button>
			<h2>{{ series.title }} - Covers </h2>
			{% if series.covers -%}
				{% for cover in series.covers -%}
					{{cover_block(
										cover,
										series
									)
					}}
				{% endfor -%}
			{% endif -%}
			{{ image_upload_block(series) }}
			<div style='width: 100%;'>
				<button type="button" onclick="save_covers()" class="pull-right save-changes-button" style='width:160px'>Save changes</button>
			</div>

		</form>

		<div style="clear: both;"></div>

	</div>


{% endblock -%}
