<!-- extend base layout -->
{% extends "__base.html" -%}

{% block content -%}
    <h1>That e-mail address has already been registered</h1>
    <p>E-Mail address: <code>{{email}}</code>.</p>
    <p>If you just registered, you still need to click the account confirmation
    link in the e-mail you've been sent. Please check your spam filter if you can't
    find the confirmation mail.</p>
    <p>If you never receive your confirmation, please file an issue on the
    <a href="https://github.com/fake-name/wlnupdates/issues">github issue tracker</a>.</p>
    <p><a href="{{ url_for('index') }}">{{ _('Back') }}</a></p>
{% endblock -%}
