<!-- extend base layout -->

{% import "_block_paginate.html" as paginator -%}

{% macro render_page_contents(series) -%}

	<table class='table-striped table table-bordered table-condensed fullwidth'>
		{%- for page in series -%}
			<tr>
				<td>
					<a href="/series-id/{{page.id}}/">{{ page.title }}</a>
				</td>

			</tr>
		{%- endfor -%}
	</table>

{% endmacro -%}


{% macro deleteItem(valId) -%}
	<div class="well well-tny info-item">
		<div class="row multilist" id="{{valId}}-container">
			<div class="col-md-12 rowContents" id='{{valId}}'>
				<form class="form-inline" action="javascript:delete_ajax();">
					<div class="col-md-3 rowTitle">
						<label style='margin-top:5px'>Delete Group:</label>
					</div>
					<div class="col-md-9 rowTitle">
						<button style='margin-top:4px' class="btn btn-primary btn-xs">DO IT</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="well well-tny info-item">
		<div class="row multilist" id="{{valId}}-container">
			<div class="col-md-12 rowContents" id='{{valId}}'>
				<form class="form-inline" action="javascript:delete_releases_ajax();">
					<div class="col-md-3 rowTitle">
						<label style='margin-top:5px'>Delete Auto-Releases:</label>
					</div>
					<div class="col-md-9 rowTitle">
						<button style='margin-top:4px' class="btn btn-primary btn-xs">DO IT</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{%- endmacro -%}

{% extends "__base.html" -%}

{% block header -%}
	<meta name="group-id" content="{{ group.id }}">

{% endblock -%}

{% set title = "Translation Group " + group.name -%}

{% block content -%}
	{% include '_block_flash.html' -%}
	<div style="min-height: 140px;">
		<h2>Group {{ group.name }}</h2>


		<div class="row info-item">
			<div class="col-md-6">
				<div class="row multilist" id="altnames-container">
					<div class='pull-right' style='padding-top: 10px'>
						<a id='editlink' href="#" onclick="edit('altnames-container');return false;">[edit]</a>
						<a id='historylink' href="/history/group-altnames/{{group.id}}">[history]</a>
					</div>
					<h4 style='padding-left: 10px'>Group Aliases</h4>

					<div class="col-md-9 rowContents" id='altnames'>
						<ul>
							{% for item in group.alt_names -%}
								<li><span class='multilist' id='altnames'>{{item.name}}</span></li>
							{% endfor -%}
						</ul>

					</div>
				</div>

			</div>
			<div class="col-md-6">
				<h4>Series</h4>
				{{ render_page_contents(series) }}
			</div>
		</div>

		{% if g.user.is_mod() -%}
			<hr class='padded-rule'>
			<div class="well well-tny info-item">
				<div class="row multilist" id="{{valId}}-container">
					<div class="col-md-12 rowContents" id='{{valId}}'>
						<form class="form-inline" action="javascript:merge_ajax();">

							<div class="col-md-3 rowTitle">
								<label style='margin-top:5px'>Merge into group ID</label>
							</div>
							<div class="col-md-9 rowTitle">
								<input type="text" class="form-control input-sm" id="dbid" placeholder="DbId">
								<button class="btn btn-primary btn-xs">Do Merge</button>
								<div class="pull-right" style='margin-top: 5px'>
									ID: {{ group.id}}
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

			{{deleteItem(group.id)}}

		{% endif -%}


	</div>

	<hr class='padded-rule'>
	{% set release_items = releases_sequence_item.items -%}
	<div>
		<sub class='pull-right'>Releases found: {{ releases_sequence_item.total }}</sub><h3>Group Releases:</h3>
		<div class='clearfix'></div>
		{% if releases_sequence_item -%}
			{% include '_block_releases.html' -%}
			{{ paginator.render_pagination(releases_sequence_item) }}
		{% else -%}
			<center><h5>No more group releases!</h5></center>
		{% endif -%}
	</div>


	<hr class='padded-rule'>
	{% set raw_feeds = feed_sequence_item.items -%}
	<div>
		<sub class='pull-right'>Rss entries found: {{ feed_sequence_item.total }}</sub><h3>Group RSS Entries:</h3>
		<div class='clearfix'></div>
		{% if feed_sequence_item -%}
			{% include '_block_feeds.html' -%}
			{{ paginator.render_pagination(feed_sequence_item) }}
		{% else -%}
				<center><h5>No more group feeds!</h5></center>
		{% endif -%}
	</div>

{% endblock -%}



{% block footer -%}
	<script src="/static/js/editable.js"></script>
	<script src="/static/js/autogrow.js"></script>
	<script src="/static/js/bootstrap-number-input.js"></script>


	<script>

		$('#vol' ).bootstrapNumber();
		$('#vol' ).change(readChange);
		$('#chap').bootstrapNumber();
		$('#chap').change(readChange);
		$('#frag').bootstrapNumber();
		$('#frag').change(readChange);

		function merge_ajax()
		{
			console.log("Ready to send!");
			var merge_id  = $("#dbid").val();
			console.log("merge_id", merge_id)

			var group_id  = $('meta[name=group-id]').attr('content')
			var params = {
				'mode'      : 'merge-group',
				'item-id'   : group_id,
				'merge_id'  : merge_id
			}


			$.ajax({
				url : "/api",
				success : saveCallback(false),
				data: JSON.stringify(params),
				method: "POST",
				dataType: 'json',
				contentType: "application/json;",
			});
		}

		// Hi there!
		// Yes, you can see the function. The API
		// endpoint it calls requires proper auth.
		// It's cute you're trying to mess things up, though....
		function delete_ajax()
		{
			console.log("Ready to send!");

			var groupid  = $('meta[name=group-id]').attr('content')
			var params = {
				'mode'      : 'delete-group',
				'item-id'   : groupid,
			}

			bootbox.confirm("Really delete group ID " + groupid + "?", function(result) {

				$.ajax({
					url : "/api",
					success : saveCallback(false),
					data: JSON.stringify(params),
					method: "POST",
					dataType: 'json',
					contentType: "application/json;",
				});
			});
		}
		function delete_releases_ajax()
		{
			console.log("Ready to send!");

			var groupid  = $('meta[name=group-id]').attr('content')
			var params = {
				'mode'      : 'delete-auto-from-group',
				'item-id'   : groupid,
			}

			bootbox.confirm("Really delete auto-sourced series release items for group " + groupid + "?", function(result) {


				$.ajax({
					url : "/api",
					success : saveCallback(false),
					data: JSON.stringify(params),
					method: "POST",
					dataType: 'json',
					contentType: "application/json;",
				});
			});
		}

	</script>

{% endblock -%}

