<!-- extend base layout -->


{% macro render_page_contents(series) %}

	<table class='table-striped table table-bordered table-condensed fullwidth'>
		{%- for page in series %}
			<tr>
				<td>
					<a href="/series-id/{{page.id}}/">{{ page.title }}</a>
				</td>

			</tr>
		{%- endfor %}
	</table>

{% endmacro %}



{% extends "__base.html" %}

{% block header %}
	<meta name="group-id" content="{{ group.id }}">

{% endblock %}

{% block content %}
	{% include '_block_flash.html' %}
	<div style="min-height: 140px;">
		<h2>Group {{ group.name }}</h2>


		<div class="row info-item">
			<div class="col-md-6">
				<div class="row multilist" id="altnames-container">
					<div class='pull-right' style='padding-top: 10px'>
						<a id='editlink' href="#" onclick="edit('altnames-container');return false;">[edit]</a>
						<a id='historylink' href="/history/group-altnames/{{group.id}}">[history]</a>
					</div>
					<h4 style='padding-left: 10px'>Group Aliases</h4>

					<div class="col-md-9 rowContents" id='altnames'>
						<ul>
							{% for item in group.alt_names %}
								<li><span class='multilist' id='altnames'>{{item.name}}</span></li>
							{% endfor %}
						</ul>

					</div>
				</div>

			</div>
			<div class="col-md-6">
				<h4>Series</h4>
				{{ render_page_contents(series) }}
			</div>
		</div>

		{% if g.user.is_mod() %}
			<div class="well well-tny info-item">
				<div class="row multilist" id="{{valId}}-container">
					<div class="col-md-12 rowContents" id='{{valId}}'>
						<form class="form-inline" action="javascript:merge_ajax();">

							<div class="col-md-3 rowTitle">
								<label style='margin-top:5px'>Merge into series ID</label>
							</div>
							<div class="col-md-9 rowTitle">
								<input type="text" class="form-control input-sm" id="dbid" placeholder="DbId">
								<button class="btn btn-primary btn-xs">Do Merge</button>
							</div>
						</form>
					</div>
				</div>
			</div>

		{% endif %}


	</div>

	<hr class='padded-rule'>
	{% set release_items = releases %}
	<div>
		<span><h3>Group Releases:</h3><sup style='float:right'>Releases found: {{ release_items | length }}</sup></span>
		{% include '_block_releases.html' %}
	</div>


{% endblock %}



{% block footer %}
	<script src="/static/js/editable.js"></script>
	<script src="/static/js/autogrow.js"></script>
	<script src="/static/js/bootstrap-number-input.js"></script>

	<link rel="stylesheet" type="text/css" href="/static/css/jquery.datetimepicker.css"/>
	<script src="/static/js/jquery.datetimepicker.js"></script>

	{% if g.user.is_mod() %}
		{% include '_block_admin_scripts.html' %}
	{% endif %}


	<script>
		$('#vol' ).bootstrapNumber();
		$('#vol' ).change(readChange);
		$('#chap').bootstrapNumber();
		$('#chap').change(readChange);
		$('#frag').bootstrapNumber();
		$('#frag').change(readChange);

		function merge_ajax()
		{
			console.log("Ready to send!");
			var merge_id  = $("#dbid").val();
			console.log("merge_id", merge_id)

			var mangaId  = $('meta[name=group-id]').attr('content')
			var params = {
				'mode'      : 'merge-group',
				'item-id'   : mangaId,
				'merge_id'  : merge_id
			}


			$.ajax({
				url : "/api",
				success : saveCallback(false),
				data: JSON.stringify(params),
				method: "POST",
				dataType: 'json',
				contentType: "application/json;",
			});
		}

	</script>

{% endblock %}

