<!-- extend base layout -->
{% extends "__base.html" -%}

{% set title = "Site Help" -%}

{% block content -%}
	{% include '_block_flash.html' -%}
	<div class="well">
		<h4>Site Help</h4>
		<h3>FAQ</h3>
		<ul>
			<li>
				<strong>Series naming:</strong>
				<p>
					When adding a series, the name should generally be as faithful to the original as possible (if tranlsated),
					generally either <a href='http://en.wikipedia.org/wiki/Romanization_of_Japanese'>romanji</a>,
					<a href='http://en.wikipedia.org/wiki/Pinyin'>pinyin</a> or <a href='http://en.wikipedia.org/wiki/Revised_Romanization_of_Korean'>RR (korean)</a>
					<a href='http://en.wikipedia.org/wiki/Romanization'>romanization</a> of the series title.
				</p>
				<p>
					Translated titles, and the original title in Japanese/Chinese/Korean should be added to the series
					as <em>Alternate Names</em>. The search system uses the alternate name values for it's results,
					so the choice of the title is basically entirely just a function of maintaining consistency with
					the rest of the series present.
				</p>
			</li>

			<li>
				<strong>Author/Illustrator naming:</strong>
				<p>
					Currently, the author/illustrator system has no provision for tracking alternate names for
					an entry. This will <em>probably</em> change in the relatively near future.
				</p>
				<p>
					At the moment, please use the roman alphabet version of the Author/Illustrator's name.
				</p>
				<p>
					If the author is Asian, then the name order is the surname (family name) first and the given name
					last, with the surname in all capital letters. For example: TAKAHASHI Rumiko.<br>
					If the author is Western, then the name order is the given name first and the surname last, with
					both names NOT in all caps, ONLY in initial caps. For example: John Scalzi.
				</p>
				<p>
					There are currently a fairly large number of duplicate names, both in the author and illustrator
					listings. This is a unfortunate side-effect of the way the initial data for the site was acquired,
					and a way to fix it is planned.
				</p>
			</li>
			<li id="add-my-own-fiction">
				<strong>Can I add a series I'm writing?</strong>
				<p>
					In general, <strong>sure</strong>! This site seeks to be as encyclopedic as possible for
					translated/OEL fantasy and science-fiction works.
				</p>
				<p>
					Please <strong>don't</strong> add your series if it's fan-fiction in the more traditional
					sense of the word, e.g. fiction using characters from popular series by other authors,
					celebreties, or other such content. Content that is not fantasy/sci-fi is also less
					desirable, though again there aren't really formal rules yet, as unwanted content has
					not yet been an issue.
				</p>
				<p>
					While these rules aren't strongly enforced (and haven't been an issue so far), the administrator
					reserves the rights to remove series from the site at their discretion.
				</p>
				<p>
					Basically:
					<ul>
						<li>A fanfiction featuring Harry Potter would not fit the site</li>
						<li>A fanfiction with entirely original characters in the Harry potter universe is borderline.</li>
						<li>A fiction set in a universe with a similar magic system that <em>doesn't</em> mention any of the JK Rowling
							characters is fine.</li>
					</ul>
					Content will be judged on a case-by-case basis, and there have not yet been any series about which
					the administrator's have had to intervene yet, so most of these rules are currently entirely speculative,
					and may change depending on the situation.
				</p>
				<p>
					If there are any doubts, or you're just curious, feed free to ask on <a href='/forum/general-discussion/'>the forum</a>.
				</p>
			</li>

			<li id="what-is-oel">
				<strong>What does "OEL" mean?</strong>
				<p>
					<strong>OEL</strong> stands for <em>"Original English Language"</em>. In the context of this
					website, it's used to indicate that a item that was originally written in english, as
					opposed to something that has been translated to english.
				</p>
				<p>
					The term <a href='https://en.wikipedia.org/wiki/Original_English-language_manga'>
					originated from manga publishing in the early 90's</a>, and it's been adopted
					here because it's convenient shorthand for "non-asian", e.g. "Western",
					rathern then "Eastern", without the explicit locality.
				</p>
				<p>
					When/If non-eastern translated content becomes popular enough to have a substantive
					fan-translation network online, it's use will probably have to be reconsidered, but
					that hasn't happened yet.
				</p>
			</li>

			<li>
				<strong>My project/a project I am interested in is listed as "stalled"?</strong>
				<p>
					Currently, any series that has not had an update within the last 14 days will be listed as "possibly stalled",
					and any series that has not had an update in more then 45 days will be marked as "probably stalled or dropped".
				</p>
				<p>
					The solution here is fairly simple, just release something, and the new release will reset the
					timer. If you're not the translator/author, talk to the translator/author to see what's going on,
					maybe they need proofreading or some other help you could provide to help speed up their releases.
				</p>
			</li>

			<li>
				<strong>Do you have an API?</strong>
				<p>
					Yes! Documentation is <a href='/api-docs'>here</a>.
				</p>
			</li>

		</ul>

		<span><h3>IAQ</h3><sup style='float:right'>Infrequently asked questions</sup></span>
		<ul>
			<li id="auto-release-requirements">
				<strong>Your project is somewhat neat. Can you add releases from my site?</strong>
				<p>
					Absolutely, but there are a few things you have to do.
				</p>
				<p>
					Basically, you <strong>HAVE</strong> to be consistent in your release naming. In other words, you have to
					<strong>ALWAYS</strong> have <code>c. {chapter num}</code> or <code>chapter {chapter num}</code> in each
					chapter relase (<code>v. {volume/book num}</code> or <code>volume {vol/book num}</code> for volumes,
					<code>part {part num}</code> for partial chapters).<br>
					Furthermore, you need to either have the series name in the release title, or (for wordpress/blogspot blogs)
					tag the series in each post.
				</p>
				<p>
					If you post occational commentary or other non-actual-content things, you <strong>must</strong> provide some
					way for the feed scraper to delineate between actual releases and the additional things. This can be as simple
					as having a tag that is <em>only</em> used for <em>actual</em> releases.
				</p>
				<p>
					Critically, <em>consistency</em> is the most vital component here. Non-standard, or different ways of
					referring to releases can prevent proper parsing. As an example, one blog that was examined as a potential
					source often had "chapter 1, part 1", "chapter 1, part 2", "chapter 1, last part". This is surprisingly
					difficult to parse, since the extraction system has no knowledge outside of the <em>single</em> title it's
					processing at a time. As such, it does not know what was before the "last part", and therefore cannot extract
					anything meaningful.
				</p>
				<p>
					If you're interested in seeing how it works internally, the chapter, vol and fragment values are extracted
					from the title by a specialized parser written specificically for that purpose (it was fun)! The relevant
					source code is
					<a href='https://github.com/fake-name/ReadableWebProxy/blob/master/WebMirror/util/titleParse.py'>here</a>.
				</p>
				<p>
					If you're doing the above, post about it on <a href='/forum/source-feature-requests/'>the forum</a>,
					drop me a mail at <code>info at wlnupdates dot com</code>, or submit an
					<a href='https://github.com/fake-name/wlnupdates/issues'>issue on github</a>, and I'll get it added
					as soon as possible. Altneratively, You can bug me on IRC: I idle in <code>#madokami</code> on Rizon
					under the nick <code>fake-name</code>.
				</p>
			</li>

			<li id="similar-series">
				<strong>The "Similar Series" list doesn't seem to work properly:</strong>
				<p>
					The similar series list on each series page is calculated by looking up the series with the most tags
					in common. If a series doesn't have any tags or it has only generic tags, the similar series output will
					be incoherent or seemingly random.
				</p>
				<p>
					If this bothers you, <i>add more tags!</i> Newly added tags will immediately improve the similar series search.
				</p>
			</li>
			<li>
				<strong>The name you have for my group/site is wrong:</strong>
				<p>
					Sorry about that, Currently most of the names came form scraping the title tags of each site, and
					then just doing a little manual cleanup. Drop me a mail at <code>info at wlnupdates dot com</code>, and
					I'll try to fix it promptly.
					<br>
					Alternatively, the mapping table is <a href='https://github.com/fake-name/MangaCMS/blob/master/FeedScrape/feedNameLut.py'>here</a>, if you want to just pull-request your
					fixes.
				</p>
			</li>
			<li>
				<strong>My series title is the wrong case?</strong>
				<p>
					Currently, all release and series titles, as well as series descriptions derived from the rss feeder system
					are re-cased under certain circumstances. Primarily, if the content is all lowercase, or > 80% UPPERCASE,
					it will be involuntarily Title Cased by the feeder system. This is because some people appear to have mis-placed
					their shift key, and others seem to have caps-lock stuck on, and either is both annoying and incorrect.
				</p>
			</li>
			<li>
				<strong>You're showing my [tl-group/sites] RSS Feed! Stop that:</strong>
				<p>
					I'm literally using RSS for it's <em>designed purpose</em>. Why do you have a RSS feed if
					you don't intend it to be used as a RSS feed?
				</p>
			</li>
		</ul>
	</div>

{% endblock -%}
