<!-- extend base layout -->

{% macro createRow(entry1, entry2, entry3, entry4) -%}
	<div class="well well-tny info-item">
		<div class="row multiitem">
			<div class="col-md-2 rowTitle">
				{{entry1}}
			</div>
			<div class="col-md-2 rowContents">
				{{entry2}}
			</div>
			<div class="col-md-6 rowContents">
				{{entry3}}
			</div>
			<div class="col-md-2 rowContents">
				{{entry4}}
			</div>
		</div>
	</div>
{%- endmacro -%}


{% macro createMultiRow(entry1, entry2, entry3, entry4, entry5) -%}
		<div class="row multiitem">
			<div class="col-md-2 rowTitle">
				{{entry1}}
			</div>
			<div class="col-md-2 rowContents">
				{{entry2}}
			</div>
			<div class="col-md-2 rowContents">
				{{entry3}}
			</div>
			<div class="col-md-4 rowContents">
				{{entry4}}
			</div>
			<div class="col-md-2 rowContents">
				{{entry5}}
			</div>
		</div>
{%- endmacro -%}

{% macro legendRowShort() -%}
	{{ createRow("Time of change", "Change type", "Change value", "User") }}
{%- endmacro -%}

{% macro legendRowLong() -%}
	<div class="well well-tny info-item">
		{{ createMultiRow("Time of change", "Change type", "Item", "Change value", "User") }}
	</div>
{%- endmacro -%}

{% macro mainHistory(cType, rows) -%}
	<p>{{ cType }}</p>
	{{ legendRowLong() }}
	{% if not rows -%}
		<div>No history for item!</div>
	{% endif -%}
	{% for changeset in rows -%}
		<div class="well well-tny info-item">
			{% for change in changeset -%}

				{% if change.operation == "I" -%}
					{% set op = "Added:" -%}
				{% elif change.operation == "U" -%}
					{% set op = "Modified:" -%}
				{% elif change.operation == "D" -%}
					{% set op = "Deleted:" -%}
				{% endif -%}
				{{ createMultiRow(change.changetime.strftime('%Y-%m-%d %H:%M'), op, change.item, change.value, getUserId(idNo=change['changeuser'])) }}
			{% endfor -%}
		</div>
	{% endfor -%}
{%- endmacro -%}


{% macro multiItemHistory(cType, rows, accesskey) -%}
	<p>{{ cType }}</p>
	{{ legendRowShort() }}

	{% if not rows -%}
		<div>No history for item!</div>
	{% endif -%}
	{% for row in rows -%}
		{% if row.operation == "I" -%}
			{% set op = "Added:" -%}
		{% elif row.operation == "U" -%}
			{% set op = "Modified:" -%}
		{% elif row.operation == "D" -%}
			{% set op = "Deleted:" -%}
		{% endif -%}

		{{ createRow(row.changetime.strftime('%Y-%m-%d %H:%M'), op, row[accesskey], getUserId(idNo=row.changeuser)) }}
	{% endfor -%}

{%- endmacro -%}


{% macro creatorHistory(cType, rows) -%}
	<p>{{ cType }}</p>
	{{ legendRowShort() }}

	{% if not rows -%}
		<div>No history for item!</div>
	{% endif -%}
	{% for row in rows -%}
		{% if row.operation == "I" -%}
			{% set op = "Added:" -%}
		{% elif row.operation == "U" -%}
			{% set op = "Modified:" -%}
		{% elif row.operation == "D" -%}
			{% set op = "Deleted:" -%}
		{% endif -%}
		{{ createRow(row.changetime, op, row.name, getUserId(idNo=row.changeuser)) }}
	{% endfor -%}
{%- endmacro -%}



{% extends "__base.html" -%}

{% block header -%}
	<meta name="manga-id" content="{{ series_id }}">

{% endblock -%}

{% block footer -%}
	<script src="/static/js/editable.js"></script>
	<script src="/static/js/autogrow.js"></script>
{% endblock -%}

{% set title = "Series Change History" -%}

{% block content -%}
	{% include '_block_flash.html' -%}


	<div>
		<h2>Edit History:</h2>

			{% if seriesHist   != None -%}
				{{ mainHistory("Entry data history:",      seriesHist) }}
			{% elif authorHist != None -%}
				{{ creatorHistory("Author entries history:",      authorHist) }}
			{% elif illustHist != None -%}
				{{ creatorHistory("Illustrator entries history:", illustHist) }}
			{% elif tagHist    != None    -%}
				{{ multiItemHistory("", tagHist,   'tag') }}
			{% elif genreHist  != None  -%}
				{{ multiItemHistory("", genreHist, 'genre') }}
			{% elif pubHist    != None  -%}
				{{ multiItemHistory("", pubHist,   'name') }}
			{% elif nameHist   != None  -%}
				{{ multiItemHistory("", nameHist,  'name') }}
			{% elif pubHist    != None  -%}
				{{ multiItemHistory("", pubHist,  'name') }}
			{% elif pubHist    != None  -%}
				{{ multiItemHistory("", pubHist,  'name') }}
			{% elif groupAltNames != None  -%}
				{{ multiItemHistory("Group Alternate Names", groupAltNames,  'name') }}
			{% else -%}
				<div>No history log found! Is that a valid history target?</div>
			{% endif -%}

			<div style="clear: both;"></div>

	</div>

{% endblock -%}
