<!-- extend base layout -->
{% extends "__base.html" -%}

{% block content -%}
	{% include '_block_flash.html' -%}
	<div >

		<h3>Licensing:</h3>
		<ul>
			<li>The code for this site was initially based on the <a href='https://github.com/miguelgrinberg/microblog'>microblog</a>
				code by <a href='https://github.com/miguelgrinberg'>@miguelgrinberg</a>. It's diverged extensively enough that it's
				probably a remote relation at best at this point, though.</li>
			<li>Built using <a href='http://www.sqlalchemy.org/'>SQLAlchemy</a>, <a href='http://flask.pocoo.org/'>Flask</a>, <a href='http://jinja.pocoo.org/'>Jinja2</a>, <a href='https://www.python.org/'>Python 3</a> and <a href='http://www.postgresql.org/'>PostgreSQL/</a><a href='http://initd.org/psycopg/'>Psycopg2</a>.</li>
			<li>HTTPS termination and proxy caching via <a href='https://www.nginx.com/'>Nginx</a>.</li>
			<li>The release messaging system uses <a href='https://www.rabbitmq.com/'>RabbitMQ</a>.</li>
			<li>Web UI using <a href='http://getbootstrap.com/'>Bootstrap</a> and <a href='https://jquery.com/'>jQuery</a>.</li>
			<li>FavIcon by <a href='https://icons8.com/web-app/for/all/book'>Icons8</a></li>
			<li>Miscellaneous use of the <a href='https://getbootstrap.com/docs/3.3/components/'>GLYPHICONS FREE glyph set</a> as part of bootstrap. Note that one of the glyphs was customized slightly.</li>
			<li>A few of the <a href='https://fontawesome.com/'>fontawesome icons</a> are used in various places.</li>
			<li>Some of the admin functions use the <a href='http://p.yusukekamiyamane.com/'>Fugue Icons</a> icon set.</li>
			<li>Forum code was originally based on the <a href='https://github.com/akprasad/flask-forum'>flask-forum</a> sources.</li>
			<li>Realtime text markup preview via <a href='https://github.com/samwillis/pagedown-bootstrap'>PageDown-Bootstrap</a>, which is derived from <a href='https://code.google.com/archive/p/pagedown/'>PageDown</a>.</li>
			<li>Rating system uses the <a href='http://antenna.io/demo/jquery-bar-rating/examples/'>jQuery Bar-Rating</a> plugin.</li>
			<li><a href='https://github.com/selcuk/markdown-urlify'>Markdown-urlify</a> is used in some parts of the forums.</li>
			<li>All original components for this site are dual-licensed <a href='https://creativecommons.org/licenses/by-sa/4.0/'>CC-BY-SA</a> or <a href='http://gplv3.fsf.org/'>GPLv3</a> at your discretion.</li>
			<li>By contributing content to the site, you are agreeing to release your contributed content under the above CC-BY-SA/GPLv3 terms as well.</li>
			<li>References and cover images are property of their creators. The information actually <em>hosted</em> here is only for informational purposes.</li>
		</ul>

		<hr>
		<h3>Legal</h3>
		<p>
			This site hosts no local copies of any content, beyond the simple description and
			cover images. All actual hosting of translated content is outside the purview of
			wlnupdates.com's administrators, and we have no mechanism for altering anything beyond
			the content on the wlnupdates.com site specifically. The release feeds are furthermore
			entirely either user-submitted, or produced by an automated system, and are not manually
			moderated or managed in any way.
		</p>
		<p>
			Due to the complete automation of this system, the administrators of this site make
			<strong>NO</strong> guarantee <em>whatsoever</em> about the content you may encounter.
			Browse at your own risk. Care has been taken during the initial configuration of the
			automated systems, but it is entirely possible that a compromise of a <em>different</em>
			site could lead to inappropriate or even malevolent content being hosted here, albeit
			hopefully only for a short period of time before it could be manually moderated.
		</p>
		<h4>Copyright</h4>
		<p>
			WLNUpdates will consent to removing any direct links to infringing
			content upon the request of the licenseholder, upon the receipt of a
			<a href='http://en.wikipedia.org/wiki/Digital_Millennium_Copyright_Act'>DMCA</a>
			request.
		</p>
		<p>
			A DMCA removal request requires the following information:
			<ol>
				<li>Physical or electronic signature of a person authorized to act on behalf of
				the owner of an exclusive right that is allegedly infringed</li>
				<li>Identification of the copyrighted work claimed to have been infringed</li>
				<li>Information to sufficiently contact you, such as: address, telephone number,
				and email</li>
				<li>A statement that the information in the notification is accurate, and under
				penalty of perjury, that you are authorized to act on behalf of the owner of an
				exclusive right that is allegedly infringed.</li>
			</ol>
			Please submit any such requests to <a href='mailto:abuse@wlnupdates.com'>abuse@wlnupdates.com</a>.
			They will be evaluated and acted upon promptly, if they are judged valid.
		</p>
		<h4>Other Abuse</h4>
		<p>
			If you discover any other potentially abusive content or behaviour on this site, please
			let an administrator know by e-mailing <a href='mailto:abuse@wlnupdates.com'>abuse@wlnupdates.com</a>.
			Please be as specific as possible. We will try to respond promptly.
		</p>

	</div>

{% endblock -%}
