<!-- extend base layout -->
{% extends "__base.html" %}


{% macro render_pagination(pagination) %}
	<div class=pagination>
	{%- for page in pagination.iter_pages() %}
		{% if page %}
			{% if page != pagination.page %}
				<a href="{{ page }}">{{ page }}</a>
			{% else %}
				<strong>{{ page }}</strong>
			{% endif %}
		{% else %}
			<span class=ellipsis>…</span>
		{% endif %}
	{%- endfor %}
	</div>
{% endmacro %}





{% block content %}
	{% include '_block_flash.html' %}
	<div class="well well-large" style="min-height: 140px;">
		<div>
			<h2>Series Releases:</h2>
		</div>

		{{ render_pagination(sequence_item) }}


		{% set release_items = sequence_item.items %}
		{% set chunk = true %}
		<div>
			{% include '_block_releases.html' %}
		</div>

		{{ render_pagination(sequence_item) }}



	</div>

{% endblock %}


{% block footer %}
	{% if g.user.is_mod() %}
		{% include '_block_admin_scripts.html' %}
	{% endif %}
{% endblock %}

