<!-- extend base layout -->
{% extends "__base.html" %}

{% import "_block_paginate.html" as paginator %}

{% block content %}
	{% include '_block_flash.html' %}
	<div   style="min-height: 140px;">
		<div>
			<h2>{{tl_type}}Series Releases:</h2>
		</div>


		{% set release_items = sequence_item.items %}
		{% set chunk = true %}

		<div>
			{% include '_block_releases.html' %}
		</div>

		{{ paginator.render_pagination(sequence_item) }}

	</div>

{% endblock %}


{% block footer %}
	{% if g.user.is_mod() %}
		{% include '_block_admin_scripts.html' %}
	{% endif %}
{% endblock %}

