<!-- extend base layout -->
{% macro singleItemBlock(name, value, valId) -%}
	<div class="well well-tny info-item">
		<div class="row">
			<div class="col-md-3">
				{{ name }}:
			</div>
			<div class="col-md-9" id='{{valId}}'>
				{{ ( value if value else "N/A" ) | safe }}
			</div>
		</div>
	</div>
{%- endmacro %}


{% macro multiItemBlock(name, inList, itemKey, valId) -%}
	<div class="well well-tny info-item">
		<div class="row">
			<div class="col-md-3">
				{{ name }}:
			</div>
			<div class="col-md-9">
				{% for item in inList %}
				<span id='{{valId}}'>{{ item[itemKey] }}</span>,
				{% else %}
					<span id='{{valId}}'>N/A</span>
				{% endfor %}

			</div>
		</div>
	</div>
{%- endmacro %}

{% macro coversBlock(covers) -%}

	<div class='imgDiv'>
			Cover goes here!
	</div>

{%- endmacro %}


{% extends "base.html" %}

{% block content %}
	{% include 'flash.html' %}

	<style type="text/css">
		<!--
			@media (min-width: 768px)
			{
				.imgDiv {
					height     : 600px !important;
					width      : 400px !important;
					max-height : 600px !important;
					max-width  : 400px !important;
					float      : right;

					display: inline-block;
					margin-left: 10px;
				}
				.info-item
				{
					overflow : hidden;
				}
			}

			@media (max-width: 767px)
			{
				.imgDiv {
					display: block;
					height     : 400px !important;

				}
				.info-item
				{
					/*overflow : hidden;*/
				}
			}
			.imgDiv
			{
				border: 2px solid #000;
				vertical-align : middle;
				text-align: center;
			}
		-->
	</style>

	<div class="well well-large">
		<h2>{{ series.title }}</h2>


			{{coversBlock(covers)}}

			{{singleItemBlock("Description",       series.description, 'description'     )}}
			{{singleItemBlock("Demographic",       series.demographic, 'demographic'     )}}
			{{singleItemBlock("Type",              series.type,        'type'            )}}
			{{singleItemBlock("Country of Origin", series.origin_loc,  'origin_loc'      )}}
			{{singleItemBlock("Original Language", series.orig_lang,   'orig_lang'       )}}

			{{multiItemBlock("Author(s)",          author,             'author', 'author')}}
			{{multiItemBlock("Illustrator(s)",     illustrators,       'name',   'illustrators')}}

			{{multiItemBlock("Tags",     tags,               'tag',    'tag')}}
			{{multiItemBlock("Genres",     genres,               'genre',    'genre')}}

			<div style="clear: both;"></div>

	</div>

	</ul>
{% endblock %}
