<!-- extend base layout -->

{% extends "__base.html" -%}
{% import "_block_paginate.html" as paginator -%}

{% macro render_page_contents(pagination, access_key) -%}

	<table class='table-striped table table-bordered table-condensed fullwidth'>
		{%- for page in pagination.items -%}
			<tr>
				<td>
					<a href="/series-id/{{page.id}}/">{{ page[access_key] }}</a>

					{% if page.tl_type == 'oel' -%}
						<div class='pull-right'>
							<a href='/help#what-is-oel'>
								<button style='margin-top:4px' class="btn btn-primary btn-xs btn-block btn-inline">OEL</button>
							</a>
						</div>
					{% endif -%}

					{% if g.user.is_mod() -%}
						<div class='pull-right'>
							<form class="form-inline" action="javascript:delete_ajax({{page.id}});">
									<button style='margin-top:4px' class="btn btn-danger btn-xs btn-block btn-inline">Delete</button>
							</form>
						</div>
					{% endif -%}

				</td>

			</tr>
		{%- endfor -%}
	</table>

{% endmacro -%}


{% macro render_alphanum_div(prefix) -%}
	<div class='pull-right'>
		Prefix:
		{%- for letter in '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ' -%}
			<a href="/{{prefix}}/{{letter}}/1">{{ letter | upper }}</a>
		{%- endfor -%}
	</div>
{% endmacro -%}

{% set title = title_prefix + " Series Listing" -%}

{% block content -%}
	{% include '_block_flash.html' -%}
	<div  style="min-height: 140px;">
		<div>
			<div class='pull-right'>
				<h4><a href='/add/series/'>Add a Series</a></h4>
			</div>

			{% if letter != None%}
				<div>
					<h2 style='display: inline-block;'>{{title_prefix}}Book Titles</h2>
					<h4 style='display: inline-block;'> - Starting with "{{letter | upper}}"</h4>
				</div>
			{% else -%}
				<h2>{{title_prefix}}Book Titles</h2>
			{% endif -%}

			{{ render_alphanum_div(path_name) }}

		</div>

		{% if series_entries.items -%}

			<div>
				{{ render_page_contents(series_entries, name_key) }}
			</div>
			{{ paginator.render_pagination(series_entries) }}
		{% else -%}
			<h4>No items found!</h4>
		{% endif -%}



	</div>

	</ul>
{% endblock -%}



{% block footer -%}
	<script>
		function delete_ajax(seriesid)
		{

			var params = {
				'mode'      : 'delete-series',
				'item-id'   : seriesid,
			}

			bootbox.confirm("Really delete series ID " + seriesid + "?", function(result) {
				if (result != true)
					return;

				$.ajax({
					url : "/api",
					success : saveCallback(false),
					data: JSON.stringify(params),
					method: "POST",
					dataType: 'json',
					contentType: "application/json;",
				});
			});
		}
	</script>

{% endblock -%}
