<!-- extend base layout -->


{% macro render_page_contents(results) %}
	{% if results %}
		<table class='table-striped table table-bordered table-condensed fullwidth'>
			{% for row in results %}
				<tr>
					<td>
						<a href="/series-id/{{row.series}}/">{{ row.name }}</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<div class="well well-med" >
			No results found!
		</div>
	{% endif %}

{% endmacro %}



{% extends "base.html" %}

{% block content %}
	{% include 'flash.html' %}
	<div class="well well-large" style="min-height: 140px;">
		<h2>Search of {{ searchTarget }} for "{{ searchValue }}"</h2>

		<div>
			{{ render_page_contents(results) }}
		</div>



	</div>


{% endblock %}
