<!-- extend base layout -->


{% macro render_page_contents(results) %}
	{% if results %}
		{% for key, value in results.items() %}
			<table class='table table-bordered table-condensed fullwidth' style='margin-bottom: 5px;'>
				{% for series, cleanname, name, similarity in value['results'] %}
					<tr>
						<td>
							<a href="/series-id/{{key}}/">{{ name }}</a>
						</td>
					</tr>
				{% endfor %}
			</table>
		{% endfor %}
	{% else %}
		<div class="well well-med" >
			No results found!
		</div>
	{% endif %}

{% endmacro %}



{% extends "__base.html" %}

{% block content %}
	{% include '_block_flash.html' %}
	<div class="well well-large" style="min-height: 140px;">
		<h2>Search of {{ searchTarget }} for "{{ searchValue }}"</h2>

		<div>
			{{ render_page_contents(results) }}
		</div>

	</div>


{% endblock %}
