<!-- extend base layout -->
{% extends "__base.html" %}

{% macro singleItemBlock(series, read, latest) -%}
	{% if latest['agg'] > read['agg'] %}
		<tr class="row singleitem red-highlight">
	{% elif latest['agg'] < read['agg'] and read['agg'] %}
		<tr class="row singleitem yellow-highlight">
	{% elif latest['agg'] == read['agg'] and read['agg'] %}
		<tr class="row singleitem green-highlight">
	{% else %}
		<tr class="row singleitem ">
	{% endif %}
		<td class="col-md-8 rowTitle">
			<a href='/series-id/{{ series.id }}/'>
				{{ series.title }}
			</a>
		</td>
		<td class="col-md-2 rowContents" id='{{valId}}'>
			{% if latest['vol'] >= 0 or latest['chp'] >= 0 or latest['frag'] >= 0 %}
				{% if latest['vol'] >= 0 %}v{{latest['vol']}}{% endif %}
				{% if latest['chp'] >= 0 %}c{{latest['chp']}}{% endif %}
				{% if latest['frag'] >= 0 %}p{{latest['frag']}}{% endif %}
			{% else %}
				No Releases!
			{% endif %}

		</td>
		<td class="col-md-2 rowContents" id='{{valId}}'>
			{% if read['vol'] >= 0 or read['chp'] >= 0 or read['frag'] >= 0 %}
				{% if read['vol'] >= 0 %}v{{read['vol']}}{% endif %}
				{% if read['chp'] >= 0 %}c{{read['chp']}}{% endif %}
				{% if read['frag'] >= 0 %}p{{read['frag']}}{% endif %}
			{% else %}
				Unread!
			{% endif %}


		</td>
	</tr>
{%- endmacro %}

{% macro headerBlock() -%}

	<tr class="row singleitem">
		<td class="col-md-8 rowTitle">
			Series
		</td>
		<td class="col-md-2 rowContents" id='{{valId}}'>
			Available
		</td>
		<td class="col-md-2 rowContents" id='{{valId}}'>
			Read
		</td>
	</tr>
{%- endmacro %}

{% block content %}
	{% include '_block_flash.html' %}

	<div >
		<h2>Watched items:</h2>
		<div class="pull-right">
			<font color="#666">To delete a list, remove all items from it.</font>
		</div>
		{% if watches %}
			{% for listname in lists %}
				<h4>List: {{listname | title}}</h4>
				<table class='table-striped table table-bordered table-condensed fullwidth'>
					{{ headerBlock() }}
					{% for series, read_progress, avail_progress in watches[listname] %}
						{{singleItemBlock(series, read_progress, avail_progress)}}
					{% endfor %}
				</table>
			{% endfor %}

		{% else %}
			<p>No watched items? <a href='/series/'>Add a few?</a></p>
		{% endif %}

		<div style="clear: both;"></div>

	</div>


	</ul>
{% endblock %}
